
.speaker-form {
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 80%;
  padding: 10px;
  margin: 10% 30% 0% 30%;
  text-align: center; 
}
.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 30%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
p {font-size: 30px;
font-family: Arial, Helvetica, sans-serif;}
@media only screen and (min-width: 700px) {
  .speaker-form-header,
  .speaker-form {
    width: 600px;
  }
  .form-row {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
    margin-bottom: 20px;
  }
  .form-row input {
    width: 250px;
    height: initial;
  }
    .form-row input:focus {
         background-color: yellow;
    }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
}
 button {

  font-size: 16px;
     margin: 0 0 0 15%;

  color: #FFFFFF;
  background-color: #000000;

  border: none;
  border-radius: 12px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}