<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginForm</title>
    <link rel="stylesheet" href="LoginForm.css">
</head>
<body>
<form action='' method='POST' class='speaker-form'>
    <p class="font-family">Account login</p>
    <div class='form-row'>
        <label for='username'>Username</label> 
  <input id='username' name='username' type='text' placeholder='Username'/>
</div>
    <div class='form-row'>
  <label for='password'>Password</label>
  <input id='password' name='password' type='password' placeholder='Password'/>
</div>
    <div class='form-row'>
   <button id="submitbutton" type="button">Login</button>
</div>
    <div class='form-row'> <a href="#">Forgot Password?</a></div>
</form>
</body>
</html>