<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<table>
    <thead> Clients</thead>
    <tbody>
    <tr>
        <td>
            <div th:each="bankAccount : ${bankAccounts}" th:object="${bankAccount}">
                <h1 th:text="|*{name}   *{#numbers.formatDecimal(balance,1,2,'COMMA')} zebra  *{animalType} ${bankAccountStat.index}|"></h1>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>