<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<table>
    <thead> Clients</thead>
    <tbody>
    <tr th:each="bankAccount : ${bankAccounts}" th:object="${bankAccount}"
        th:style="*{king} ? 'color:pink' : 'color:black'">
        <td th:text="*{name}"></td>
        <td th:text="|*{#numbers.formatDecimal(balance,1,2,'COMMA')} zebra|"></td>
        <td th:text=" *{animalType}"></td>
        <td th:text="${bankAccountStat.index}"></td>
        <td th:if="*{king}">KING</td>
        <td th:unless="*{king}"> </td>
        <td th:switch="*{badGuy}">
            <span th:case="0">Badbad Guy</span>
            <span th:case="1">Goodboy</span>
        </td>
        <td>   <input type="checkbox" id="scales" name="scales"
                      checked>
            <label for="scales">Raise balance</label></td>
    </tr>
    </tbody>
</table>
</body>
</html>