<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AssigneeList</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h1>List of Assignees</h1>
<h4><a href="/assignee/addassignee">Add new assignee</a></h4>
<form th:action="@{/assignee/listassignees}" th:method="get">
    <label>Search..</label>
    <input th:type="text" name="searchAssignees">
    <input type="submit">
</form>
<table>
    <thead>
    <th>ID</th>
    <th>NAME</th>
    <th>EMAIL</th>
    </thead>
    <tbody>
    <tr th:block th:each="assignee : ${assigneelist}" th:object="${assignee}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{email}"></td>
        <td>
            <a th:href="@{{id}/delete(id=${assignee.id})}">delete</a>
        </td>
        <td>
            <a th:href="@{{id}/edit(id=${assignee.id})}">edit</a>
        </td>
        <td>
            <a th:href="@{/assignee/{id}/show-todos(id=${assignee.id})}">Show Todos</a>
        </td>
    </tr>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    </tbody>
</table>
</body>
</html>