<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h1> Create new assignees</h1>
<form th:action="@{/assignee/addassignee}" method="post" th:object="${newassignee}">
    <label th:for="name">What is your name?</label>
    <input type="text" th:field="*{name}">
    <label th:for="email">What is your e-mail?</label>
    <input type="email" th:field="*{email}">
    <input type="submit" value="Mehet">
</form>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>