<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
</head>
<body>
<h1>Todos for today</h1>
<h4>List of ToDos</h4>
<h4><a href="/assignee/listassignees">Assignees</a></h4>
<form th:action="@{/todo/list}" th:method="get">
    <label>Search..</label>
    <input th:type="text" name="searchItem">
    <input type="submit">
</form>
<table>
    <thead>
    <th>ID</th>
    <th>ACTION</th>
    <th>DONE</th>
    <th>URGENT</th>
    </thead>
    <tbody>
    <tr th:block th:each="todoh : ${todo}" th:object="${todo}">
        <td th:text="${todoh.id}"></td>
        <td th:text="${todoh.title}"></td>
        <td th:text="${todoh.done}"></td>
        <td th:text="${todoh.urgent}"></td>
        <td><a th:href="@{{id}/delete(id=${todoh.id})}" >delete</a></td>
        <td><a th:href="@{{id}/edit(id=${todoh.id})}" >edit</a></td>
        <td th:if="${todoh.getAssignee() != null} " th:text="${todoh.getAssignee().getName()}"></td>
        <td th:unless="${todoh.getAssignee() != null} " th:text="'No Assignee assigned'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>