<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition store</title>
</head>
<body>
<div><a href="/information"> Information </a></div>
<p>Food</p>
<select name="thefood">
    <option th:each="food : ${foodlist}"  th:text="${food}"> </option>
</select>
<p>Drink</p>
<select name="thedrink">
    <option th:each="drink : ${drinklist}"  th:text="${drink}"> </option>
</select>
<form th:action="@{/nutritionstore}" method="post" id="form1">
<input type="submit" value="Go" class="sp">
</form>
</body>
</html>